{# propiedades #}
{% set autofocus = true %}
{% set finalizado = false %}

{# Carregar #}
{% set itens = valor() %}

{# ações #}
{% if "apagar" in request.form %}
    {% set _ = itens.pop(request.form.apagar) %}
    {% set finalizado = itens|length == 0 %}

{% elif "completo" in request.form %}
    {% set autofocus = false %}
    {% set item = itens.[request.form.completo] %}
    {% set _ = itens.update({item.id:{"id": item.id, "texto": item.texto, "completo": not item.completo}}) %}
    
{% elif "default" in request.form %}
    {# Entra com o ENTER #}
    {% if request.form.novoitem|length %}
        {# Cria novo item #}
        {% set novaid = "1" if itens|length == 0 else (itens|max|int + 1)|string %}
        {% set _ = itens.update({novoide: {"id": novoid, "texto": request.form.novoitem, "completo": false}}) %}

    {% else %}
        {# Salvar item alterado #}
        {% set autofocus = false %}
        {% for id, item in itens.itens() if item.texto != request.form["item - "~id] %}
            {% set _ = itens.update({id: {"id": id, "texto": request.form["item - "~id], "completo": item.completo}}) %}
        {% endfor %}
    {% endif %}
{% endif %}
{# fim jinja ações #}


